#myList {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

#myList li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 200px;
    background-color: #dddddd;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#return a {
    text-decoration: none;
    color: inherit;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

button {
    margin: 2px;
    padding: 8px;
    border-radius: 30px;
    background-color: #72cd08;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body {
    background-color: black;
}

img {
    width: 400px;
    height: auto;
}