.cabecera {
    background-color: white; 
    position: relative; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    height: 100px;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-escom,
.logo-ipn {
    height: 80px; 
    margin-right: 15px; 
}

.header-text {
    margin-left: auto;
    font-family: 'Poppins',sans-serif;
    font-size: 24px; 
    color: #333; 
    margin-right: 150px;
}

body {
    /*background-image: url("fon.png");
    background-repeat:no-repeat;
    background-position: center -150px;
    background-size: cover;*/
    background-color: #221e34;;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
}

.principal{
    margin-top: 5px;
    display: inline-block;
    padding: 10px 200px;
    margin: 70px;
    background-color: rgba(234, 236, 224, 0.697);
    border: 5px solid #efefef;
    border-radius: 5px;
    transition: all 0.5s ease;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 20px;
    grid-gap: 20px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}

.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto de escalar */
}

.card-link:hover {
    transform: scale(1.1);
    z-index: 10;
}

.card1 .container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    z-index: 2; /* Este z-index debe ser mayor que el de la imagen pero menor que el del contenido de texto */
}

.card1 .container img {
    display: block;
    width: 100%; /* Asegúrate de que la imagen llene su contenedor */
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1; /* La imagen debe estar debajo de la capa de difuminado */
}

.details {
    position: relative;
    z-index: 3; /* Asegúrate de que el texto esté sobre la capa de difuminado */
}

.piePagina {
    background-color: white; 
    position:relative; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
    box-sizing: border-box;
}

.footer-content {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content li {
    color: black; 
    padding: 3px 0; 
    line-height: 1.5; 
}

.footer-content a {
    color: black; 
    text-decoration: none; 
    transition: 0.3s; 
}

.piePagina p {
    font-size: 10px; 
    margin: 100; 
    padding: 5px 0; 
    line-height: 1.5;
}

.footer-image {
    height: 100px;
    width: auto; 
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 150px;
}