/* estilos.css */
.cabecera {
    background-color: white; /* Fondo blanco */
    position: fixed; /* Fija el header en una posición */
    top: 0; /* Alinea el header con el borde superior de la página */
    left: 0; /* Alinea el header con el borde izquierdo de la página */
    width: 100%; /* Asegura que el header tenga el ancho completo */
    z-index: 1000; /* Mantiene el header sobre otros elementos */
    display: flex; /* Utiliza flexbox para alinear los elementos internos */
    align-items: center; /* Centra los elementos verticalmente */
    height: 80px;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-escom,
.logo-ipn {
    height: 80px; /* Ajusta la altura de las imágenes, si es necesario */
    margin-right: 15px; /* Espacio entre las imágenes y otros elementos */
}

.header-text {
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif; /* Aplica la fuente Times New Roman */
    font-size: 24px; /* Ajusta el tamaño de la fuente según necesites */
    color: #333; /* Ajusta el color del texto si es necesario */
    margin-right: 150px;
    
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(114, 185, 232);
}

.containerGeneral{
    position: relative;
    top: 100px;
    margin-top: 5px;
    display: inline-block;
    padding: 10px 200px;
    margin: 10px;
    background-color: rgba(234, 236, 224, 0.578);
    border: 5px solid #efefef;
    border-radius: 5px;
}

.contenedor {
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: center;
}

#cola {
        border: 2px solid #333;
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
}

.elemento-cola {
    border-bottom: 1px solid #ddd;
    background-color: #e9e9e9;
    text-align: center;
    padding: 10px;
    margin-top: -1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

.imagenesOperaciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.nuevoElemento{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
