/* estilos.css */
.cabecera {
    background-color: white; /* Fondo blanco */
    position: fixed; /* Fija el header en una posición */
    top: 0; /* Alinea el header con el borde superior de la página */
    left: 0; /* Alinea el header con el borde izquierdo de la página */
    width: 100%; /* Asegura que el header tenga el ancho completo */
    z-index: 1000; /* Mantiene el header sobre otros elementos */
    display: flex; /* Utiliza flexbox para alinear los elementos internos */
    align-items: center; /* Centra los elementos verticalmente */
    height: 80px;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-escom,
.logo-ipn {
    height: 80px; /* Ajusta la altura de las imágenes, si es necesario */
    margin-right: 15px; /* Espacio entre las imágenes y otros elementos */
}

.header-text {
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif; /* Aplica la fuente Times New Roman */
    font-size: 24px; /* Ajusta el tamaño de la fuente según necesites */
    color: #333; /* Ajusta el color del texto si es necesario */
    margin-right: 150px;
    
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(49, 89, 147);
}

.containerGeneral {
    display: flex;
    flex-direction: column; /* Alinea los hijos del contenedor principal en una columna */
    align-items: center; /* Centra los hijos horizontalmente */
    justify-content: flex-start; /* Alinea los hijos al inicio del contenedor principal */
    width: 100%; /* Opcional: Ajusta el ancho según sea necesario */
    gap: 20px; /* Espacio entre la cola y la imagen */
}

.contenedor {
    display: flex;
    align-items: center; /* Asegúrate de que los elementos estén alineados en el centro */
    gap: 20px;
    justify-content: flex-start; /* Cambia a flex-start para alinear los elementos de la cola desde el principio */
    flex-direction: row; /* Cambia de column a row para alinear los elementos horizontalmente */
    overflow-x: auto; /* Permite desplazamiento horizontal si los elementos exceden el ancho del contenedor */
}

#cola {
    display: flex; /* Asegura que los elementos dentro de la cola también estén en flex */
    flex-direction: row; /* Alinea los elementos de la cola horizontalmente */
    align-items: center; /* Centra los elementos verticalmente dentro de la cola */
    gap: 10px; /* Establece un espacio entre los elementos de la cola */
    padding: 10px; /* Opcional: agrega un poco de espacio interior */
    /* Asegúrate de que el ancho pueda contener todos los elementos o que puedan desplazarse */
}

.elemento-cola {
    border: 1px solid #000000;
    background-color: #a4a4a4;
    text-align: center;
    padding: 10px;
    margin-top: -1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 5px;
    width: 50px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

.imagenesOperaciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nuevoElemento{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
