.cabecera {
    background-color: white; 
    position: fixed; 
    bottom:0;
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    height: 100px;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-escom,
.logo-ipn {
    height: 80px; 
    margin-right: 15px; 
}

.header-text {
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; 
    color: #333; 
    margin-right: 150px;
    
}

body {
    background-image: url("fon.png");
    background-repeat:no-repeat;
    background-position: center -150px;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 12%;
}

.containerGeneral{
    margin-top: 5px;
    display: inline-block;
    padding: 10px 200px;
    margin: 70px;
    background-color: rgba(234, 236, 224, 0.697);
    border: 5px solid #efefef;
    border-radius: 5px;
    transition: all 0.5s ease;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
}
.integrantes{
    list-style-type:none;
    padding: 0;
    font-weight: bold;
}

p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.boton {
    margin-top: 5px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(167, 252, 101);
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.piePagina {
    background-color: white; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
    box-sizing: border-box;
}

.footer-content {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content li {
    color: black; 
    padding: 3px 0; 
    line-height: 1.5; 
}

.piePagina p {
    font-size: 10px; 
    margin: 100; 
    padding: 5px 0; 
    line-height: 1.5;
}

.footer-image {
    height: 100px; 
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 150px;
}