.cabecera {
    background-color: white; /* Fondo blanco */
    position: fixed; /* Fija el header en una posición */
    top: 0; /* Alinea el header con el borde superior de la página */
    left: 0; /* Alinea el header con el borde izquierdo de la página */
    width: 100%; /* Asegura que el header tenga el ancho completo */
    z-index: 1000; /* Mantiene el header sobre otros elementos */
    display: flex; /* Utiliza flexbox para alinear los elementos internos */
    align-items: center; /* Centra los elementos verticalmente */
    height: 100px;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo-escom,
.logo-ipn {
    height: 80px; /* Ajusta la altura de las imágenes, si es necesario */
    width: auto;
    margin-right: 15px; /* Espacio entre las imágenes y otros elementos */
}

.header-text {
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif; /* Aplica la fuente Times New Roman */
    font-size: 24px; /* Ajusta el tamaño de la fuente según necesites */
    color: #333; /* Ajusta el color del texto si es necesario */
    margin-right: 150px;
}


#myList {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: -15px;
}

#myList li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 200px;
    background-color: #dddddd;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#return a {
    text-decoration: none;
    color: inherit;
}

#botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

button {
    margin: 2px;
    padding: 8px;
    border-radius: 30px;
    background-color: #72cd08;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body {
    background-color: #7a0039;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 80px;
}

#contenido {
    background-color: black;
    border-radius: 20px;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}